@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

/* GENERAL DESIGN */

body {
    font-family: "Poppins", sans-serif;
    background: #f3f7f3;
    margin: 0;
    padding: 0;
    color: #2b2b2b;
}

.main-header {
    padding: 40px 40px 0;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: #2c7a4b;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 20px;
    color: #4a4a4a;
    margin-bottom: 25px;
}

/* TABLE */

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

th {
    background: #2c7a4b;
    color: white;
    padding: 14px;
    text-align: left;
}

td {
    padding: 12px 14px;
    border-bottom: 1px solid #e3e3e3;
}

tr:hover {
    background: #ecf7f0;
}

/* FOOTER */

/* FOOTER */
.footer {
    width: 100%;
    background: #2c7a4b;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 4px solid #1f5a36;
    font-size: 14px;
    
}

